* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2, h3 {
    color: $primary-red;
    font-weight: 400;
}

h1 {
    color: $white;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: $primary-grey;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 28px;
}

strong {
    color: $primary-red;
    font-weight: 600;
}