.banner{
    .banner-img{
        width: 100%;
    }
    .logo-img{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 80px;
        @include mq('lg') {
            width: 160px;
        }
    }
    .logo-text-2{
        position: absolute;
        top: 40px;
        right: 16px;
        color: white;
        text-align: right;
        @include mq('lg') {
            h3{
                font-size: xx-large;
            }
            p{
                font-size: x-large;
            }
            top: 140px;
        }
    }
    
}