.main-footer{
    background-color: #af473c;
    color: #fff;
    .footer-container{
        padding-left: 15px;
        padding-right: 15px;
        .footer-row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            @include mq('md') {
                width: 728px;
            } 
            @include mq('lg') {
                width: 1110px;
            }
            .footer-column{
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                @include mq('md') {
                    flex-direction: row;
                }
                .footer-section {
                    margin-top: 50px;
                    margin-bottom: 30px;
                    position: relative;
                    min-height: 1px;
                    padding-right: 15px;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                    @include mq('md') {
                        text-align: left;
                        margin-right: 100px;
                    }
                    @include mq('lg') {
                        margin-right: 200px;
                    }
                    h4{
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 1rem;
                        margin-bottom: 26px;
                        font-weight: 400;
                        margin: 0 0 15px;
                    }
                    .line-h3 {
                        background-color: $white;
                        @include mq('md') {
                            margin-left: 0;
                        }
                    }
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            line-height: 1.5em;
                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
        
    }
}