.main-nav{
    background-color: #af473c;
    .nav-container{
        padding-left: 15px;
        padding-right: 15px;
        .nav-nav{
            width: 100%;
            margin: auto;
            margin-top: -5px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            @include mq('md') {
                width: 728px;
                flex-direction: row;
                justify-content: flex-end;
                height: 40px;
            }
            @include mq('lg') {
                height: 60px;
                width: 1110px;
            }
            li{
                text-transform: uppercase;
                padding: 12px 20px 12px;
                text-align: center;
                letter-spacing: 1px;
                @include mq('md') {
                    padding-bottom: 0;
                    &:last-child {
                        padding-right: 0;
                    }
                }
                @include mq('lg') {
                    padding-top: 21px;
                }
                .link{
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}