.testimonials-page {

    .info-section {
        width: 100%;
        padding: 80px 20px 0;
        .info-content {
            width: 100%;
            margin: auto;
            @include mq('md') {
                width: 728px;
            }
            @include mq('lg') {
                width: 1110px;
            }
            h2 {
                text-align: center;
                @include mq('lg') {
                    text-align: left;
                    margin-left: 1px;
                }
            }
            .line-heading {
                margin-left: auto;
                margin-right: auto;
                @include mq('lg') {
                    margin-left: 0;
                }
            }
            p:last-child {
                margin-bottom: 80px;
            }
        }
    }

    @include testimonial-section;

    .partners-section {
        width: 100%;
        padding: 80px 20px 40px;
        .partners-content {
            position: relative;
            width: 100%;
            margin: auto;
            text-align: center;
            @include mq('md') {
                width: 728px;
            } 
            @include mq('lg') {
                width: 1110px;
            }
            h2 {
                text-align: center;
                @include mq('lg') {
                    text-align: left;
                    margin-left: 1px;
                }
            }
            .line-heading {
                margin-left: auto;
                margin-right: auto;
                @include mq('lg') {
                    margin-left: 0;
                }
            }
            .partners-list {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                @include mq('md') {
                    flex-flow: row nowrap;
                }
                .partner {
                    padding-bottom: 50px;
                    @include mq('md') {
                        padding-bottom: 0;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .pointer {
        display: none;
        position: absolute;
        bottom: -55px;
        left: 115px;
        width: 30px;
        height: 30px;
        background-color: $primary-grey;
        transform: rotate(45deg);
    }

    .partner-info-section {
        background-color: $primary-grey;
        padding: 20px 0;
        @include mq('sm') {
            min-height: 444px;
        }
        @include mq('md') {
            height: 444px;
        }
        @include mq('lg') {
            height: 398px;
        }
        .partner-info-content {
            width: 100%;
            margin: auto;
            @include mq('md') {
                width: 768px;
            }
            @include mq('lg') {
                width: 980px;
            }
            .partner-info {
                h3 {
                    text-align: center;
                }
                .line-h3 {
                    background-color: $white;
                }
                p {
                    text-align: center;
                    color: $white;
                    padding: 0 20px;
                }
                .btn {
                    background-color: $white;
                    color: $primary-red;
                    width: 250px;
                    margin: 0 auto 25px;
                    &:hover {
                        background-color: $primary-lighter;
                    }
                }
                &:nth-child(1n+2) {
                    display: none;
                }
            }
        }
    }

}