// Media query breakpoints map
$breakpoints: (
    'sm': 767px,
    'md': 768px,
    'lg': 1150px,
);

// Fonts
$font-stack: 'Montserrat', 'Arial', 'Helvetica', sans-serif;

// Main colours
$primary-red: #af473c;
$primary-grey: #3c3c3c;
$primary-light: #b1b1b1;
$primary-lighter: #e6e6e6;
$white: #fff;

// Services list
$service-type: corporate, weddings, events;