// Media query breakpoints map
$breakpoints: (
    'xs': 767px,
    'sm': 768px,
    'md': 992px,
    'lg': 1260px,
);

// Fonts
// $font-stack: ; ff market std regular (logo)

// Main colours
$primary-red: #af473c;
$primary-grey: #3c3c3c;
$primary-light: #b1b1b1;
$white: #fff;