.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    span {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}