.line-heading {
    width: 200px;
    height: 1px;
    background-color: $primary-grey;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    @include mq('lg') {
        margin-left: 0;
    }
}

.line-h3 {
    width: 125px;
    height: 1px;
    background-color: $primary-grey;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.line-testimonial {
    width: 100%;
    max-width: 350px;
    height: 1px;
    background-color: $white;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}